@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.05rem;

  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 9%;
}

.logo {
  fill: rgb(255, 232, 31);
  width: 100%;
  max-width: 450px;
  margin: 30px auto;
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  margin-bottom: 40px;
}

.film-wrapper {
  padding: 10px 20px;
  border-radius: 0.5rem;
  max-width: 600px;
}

.film-wrapper:hover {
  box-shadow: 0 0 15px rgba(30, 157, 215, 0.9);
}

/* .film-wrapper:nth-child(1) {
  background: url(/public/images/bg1.png);
}

.film-wrapper:nth-child(2) {
  background: url(/public/images/bg2.png);
}

.film-wrapper:nth-child(3) {
  background: url(/public/images/bg3.png);
}

.film-wrapper:nth-child(4) {
  background: url(/public/images/bg4.png);
}

.film-wrapper:nth-child(5) {
  background: url(/public/images/bg5.png);
}

.film-wrapper:nth-child(6) {
  background: url(/public/images/bg6.png);
} */

.film-top {
  border-bottom: 2px solid #8E2E2E;
  padding: 10px 0;
}

.date {
  font-size: 14px;
  color: #9D9D9D;
  text-transform: uppercase;
}

.link {
  padding: 10px 0;
}

.link a {
  color: #FFE81F;
  text-decoration: none;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 0;
  line-height: 1.3;
}

@media (max-width: 768px) {
  body{
    font-size: 0.9rem;
  }

  h2{
    font-size: 1.2rem;
    font-weight: 600;

  }

  .container {
    padding: 0 5%;
  }

  .logo{
  max-width: 350px;
  }
}

